body {
    font-family: Arial, Helvetica, sans-serif;
    background-image:url(../images/memphis-mini-dark/memphis-mini-dark/memphis-mini-dark.png)
}

.selfie {
    float: left;
    padding: 2%;
}

header {
  width: 100%;
  position: relative;
  height: 100px;
  background-color: #969090;
  border-bottom: 1px red solid;
}

.header-container {
  margin: 0 auto;
  width: 960px;
}

nav {
    float: left;
    width: 70%;
    position: relative;
    text-align: right;
}



.navs {
  list-style-type: none;
  display: block;
  position: relative;
  top: 34px;
  bottom: 40px;
  left: 15px;
  right: 69px;
}

.links {
  float: right;
  margin: 0px;
  border-right: 1px solid white;
  padding: 0 5px;
}

li {
  float: right;
  margin: 0px;
  border: none;
  padding: 0 5px;
}

a:visited {
  color: yellow;
}

a:hover {
  color: red;
}

.logo {
  left: -15px;
  float: left;
  width: 30%;
  position: relative;
  font-family: 'Times New Roman', Times, serif;
}

.main {
    background-color: #ffffff;
    height: 350px;
    width: 960px;
    margin: 0 auto;
    padding: 25px;
    border-color: red;
    border-width: 1px;
    border-style: solid;
    display: block;
    position: relative;
    top: 30px;
}

.maincontact {
  background-color: #ffffff;
  height: 500px;
  width: 960px;
  margin: 0 auto;
  padding: 25px;
  border-color: red;
  border-width: 1px;
  border-style: solid;
  display: block;
  position: relative;
  top: 30px;
}

.portfolio {
    background-color: #ffffff;
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 15px;
    border-width: 1px;
    border-style: solid;
    top: 20px;
    border-color: red;
    width: 960px;
    height: 800px;
}

h1 {
    color: #ffffff;
    background-color: red;
    width: 140px;
    height: 100px;
    display: block;
    margin-block-start: 0px;
    margin-block-end: -5px;
    margin-inline-start: -1px;
}

h2 {
    color: red;
    font-family: 'Times New Roman', Times, serif;
}

#footer-container {
  min-height: 100%
}

#fill {
  overflow: auto;
  padding-bottom: 20px;

}

footer {
  background-color: red;
  color: grey;
  position: relative;
  height: 43px;
  margin-top: 200px;
  clear: both;
  width: 100%;
  border: 1px white solid;
  border-top: 5px grey solid;
  text-align: center;
}

.form-control {
  position: relative;
  width: 960px;
  height: 20px;
  background: white;
  border: 1px rgb(167, 165, 165) solid;
  color: rgb(167, 165, 165);
  font-size: 18px;
  margin-bottom: 0px;
}

.Name {
  height: 50px;
}

.Email {
  height: 50px;
}

.Message {
  Height: 100px;
  margin-top: -20px;
}

.submit {
  width: 75px;
  border-color: rgb(167, 165, 165);
  color: black;
  font-size: 18px;
  font-weight: bold;
  height: 22px;
}

form .submit:hover{
  background-color: orange;
}

figure {
  width: 200px;
  height: 200px;
  display: block;
  position: relative;
  float: left;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 21px;
}

figcaption {
  position: absolute;
  bottom: 5px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: red;
  text-align: center;
  color: white;
  font-weight: bold;
  height: 50px;
}

.rwt {
  left: 242px;
  bottom: 4px;
}

.rps {
  top: 230px;
  right: 242px;
}

.trivia {
  right: 484px;
  top: 238px;
}